// Color
$primary-color: #FAFAFA;
$primary-color-light: #FFFFFF;
$primary-color-dark: #EEEEEE;
$secondary-color: #2F3E51;
$secondary-color-light: #505A66;
$secondary-color-dark: #253141;
$alert-color: #FF6B6B;

$accent-color: #eb6f6f;
$mono-color-white: #FFFFFF;
$mono-color-light: #EFEFEF;
$mono-color-middle: #DEDEDE;
$mono-color-dark: #CDCDCD;

//font-color
$font-color-white: #FFFFFF;
$font-color-light: #999;
$font-color-middle: #555;
$font-color-dark: #333;

// Space
$main-padding-horizontal: 40px;
$side-padding-horizontal: 20px;
$header-height: 100px;

//Font size
// $font-xxl: 24px;
$font-xl: 20px;
$font-l: 16px;
$font-m: 15px;
$font-s: 14px;
$font-xs: 12px;
$font-xxs: 11px;
