// Color
$accent-color: #eb6f6f;
$mono-color-white: #FFFFFF;
$mono-color-light: #EFEFEF;
$mono-color-middle: #DEDEDE;
$mono-color-dark: #CDCDCD;

//font-color
$font-color-white: #FFFFFF;
$font-color-light: #999;
$font-color-middle: #555;
$font-color-dark: #333;

//Font size
// $font-xxl: 24px;
$font-xl: 20px;
$font-l: 16px;
$font-m: 15px;
$font-s: 14px;
$font-xs: 12px;
$font-xxs: 11px;
