.boards
  .boards__item
    .boards__item__wrapper
      = link_to "", "/#", class: "item-link"
      = image_tag "chari.jpg", class: "item-img"
      .item-info
        .item-info__title titletitletitle
        .item-info__pin 16 ピン
