.modal#modal-saveSuccess
  .modal__bg
  .modal__window
    .modal__window--right
      .modal__window__header
        .modal-title ボードに保存しました
        .close-button
          = fa_icon("times", class: "fa-lg")
      .modal__window__container.align-center
        .content2.message
      .modal__window__footer
