.container-signup {
  position: relative;
  background-color: gray;
  height: 100vh;
  .button {
    height: 36px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    background-color: white;
    position: absolute;
    top: 15px;
    right: 25px;
    .link {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      &:link, &:visited, &:hover, &:active {
        color: black;
        text-decoration: none;
      }
    }
    .link-text {
      margin: 0 30px;
      line-height: 36px;
    }
  }
  .form {
    width: 380px;
    border-radius: 8px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 10px;
    .logo-area {
      height: 55px;
      width: 55px;
      margin: 15px auto 0;
    }
    .greeting-area {
      margin: 5px auto 26px;
      .greeting {
        text-align: center;
        font-size: 28px;
      }
    }
    .form-area {
      width: 268px;
      margin: 0 auto;
      .field {
        margin: 0 auto 7px;
        border-radius: 4px;
        background-color: #EFEFEF;
        width: 100%;
        input {
          width: 248px;
          height: 17px;
          padding: 10px;
          font-size: 14px;
          background-color: transparent;
          border: 0;
          outline: none;
        }
      }
      .submit-button {
        display: block;
        width: 268px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        background-color: #eb6f6f;
        border-radius: 4px;
        color: white;
        &:hover {
          cursor: pointer;
        }
      }
      .notice {
        font-size: 10px;
        margin: 15px 0 15px;
      }
    }
  }
  .footer {
    position: absolute;
    bottom: 24px;
    width: 100%;
    // margin: 0 auto;
    &__link {
      text-align: center;
      list-style: none;
      color: white;
      // display: block;
      &__item {
        margin-right: 24px;
        // float: left;
        display: inline;
      }
    }
  }
}
