.container {
  .board-header {
    max-width: 800px;
    margin: 0 auto;
    &__menu {
      margin: 0 28px 15px;
      height: 48px;
      display: flex;
      // position: fixed;
      // background-color: rgba(255, 255, 255, 0.95);
      .menu-button {
        @include iconBtn(48px);
      }
    }
    &__info {
      margin: 0 28px 18px;
      display: flex;
      &--left {
        flex: 1;
        min-height: 168px;
        .title-text {
          font-size: 31px;
          line-height: 42px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .board-pins {
          font-size: 10px;
          margin-bottom: 5px;
        }
        .board-about {
          font-size: 12px;
        }
      }
      &--right {
        position: relative;
        .avatar--small {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          position: absolute;
          right: 0;
          bottom: 0;
        }
        .avatar--large {
          width: 168px;
          height: 168px;
          border-radius: 50%;
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}
