.container {
  .board-header {
    max-width: 800px;
    margin: 0 auto;
    &__edit {
      margin: 0 28px 15px;
      height: 48px;
      display: flex;
      // position: fixed;
      // background-color: rgba(255, 255, 255, 0.95);
      .edit__menu {
        width: 48px;
        height: 48px;
        margin-right: 8px;
        text-align: center;
        border-radius: 50%;
        position: relative;
        background-color: #EFEFEF;
        // display: inline;
        // float: left;
        .menu-link {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
        }
        .menu-icon {
          line-height: 48px;
        }
      }

    }
    &__title {
      height: 42px;
      margin: 0 28px 18px;
      // clear: both;
      .title-text {
        font-size: 31px;
        line-height: 42px;
        font-weight: bold;
      }
    }
    &__info {
      margin: 0 28px;
      display: flex;
      .board-pins {
        flex: 1;
        &__number{
          font-size: 10px;
          // float: left;
        }
      }
      .board-user {
        width: 60px;
        .user-avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          // float: right;
        }
      }
    }
  }
}
