body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #999999;
}
a {
  &:link, &:visited, &:hover, &:active {
    color: $font-color-dark;
    text-decoration: none;
  }
}
.small-tile {
  width: 256px;
}
.big-tile {
  width: 328px;
}
.container {
  flex: 1;
  background-color: white;
  overflow-y: scroll;
  padding: 14px;
  .hidden {
    display: none;
  }
  .shown {
    display: block;
  }
  .tiles {
    margin: 0 auto;
    background-color: white;
    &__item {
      margin: 4px 2px 20px;
      word-break: break-word;
      border-radius: 6px;
      position: relative;
      &:hover {
        cursor: pointer;
      }
      &__wrapper {
        margin: 10px 10px 0;
        .height236 {
          height: 236px;
        }
        .item-object {
          margin: 0 8px 6px;
          .item-link {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
          }
          .zoom-in:hover {
            cursor: zoom-in;
          }
          &__img {
            display: block;
            width: 100%;
            border-radius: 8px;
            display: flex;
            align-items: center;
            .fa-plus-circle {
              color: $accent-color;
              margin: 0 auto;
            }
          }
          .pin-img {
            width: 100%;
            height: auto;
          }
          .board-img {
            height: 236px;
            width: 100%;
            position: relative;
            .img{
              position: absolute;
              width: 50%;
              height: 118px;
              object-fit: cover;
              box-shadow: 1px 1px $mono-color-white inset;
              &--0 {
                top: 0;
                left: 0;
                border-top-left-radius: 8px;
              }
              &--1 {
                top: 0;
                right: 0;
                border-top-right-radius: 8px;
              }
              &--2 {
                bottom: 0;
                left: 0;
                border-bottom-left-radius: 8px;
              }
              &--3 {
                bottom: 0;
                right: 0;
                border-bottom-right-radius: 8px;
              }
            }
          }
          .no-img{
            background-color: $mono-color-light;
          }
          .releaseTrigger {
            position: absolute;
            top: 20px;
            right: 25px;
            z-index: 3;
          }
          .saveTrigger {
            position: absolute;
            top: 20px;
            right: 25px;
            z-index: 3;
          }
        }
        .item-info {
          margin: 0 8px 6px;
          display: flex;
          .item-pin {
            font-size: 8.6px;
            line-height: 15px;
          }
          .item-title {
            font-size: 14px;
            font-weight: bold;
            line-height: 21px;
          }
          .item-edit {
            @include textBtn();
            background-color: $mono-color-middle;
            z-index: 2;
            font-size: 12px;
            &:hover {
              background-color: $mono-color-dark;
            }
          }
          &--left {
            flex: 1;
          }
          &--right {
          }
        }
        .item-description {
          margin: 0 8px 6px;
          font-size: 12px;
        }
      }
      &__user {
        min-height: 28px;
        margin: 0 8px 6px;
        border-radius: 4px;
        position: relative;
        padding: 6px 8px;
        display: flex;
        &:hover {
          background-color: $mono-color-light;
        }
        .item-user--link {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;
          &:hover {
            cursor: pointer;
          }
          &:link, &:visited, &:hover, &:active {
            color: black;
            text-decoration: none;
          }
        }
        .item-user--left {
          margin-right: 8px;
          .user-avatar {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .item-user--right {
          font-size: 8.6px;
          line-height: 14px;
          .user-name {
            font-weight: bold;
          }
          .user-board {
          }
        }
      }
    }
  }
  .post {
    width: 64px;
    position: fixed;
    right: 14px;
    bottom: 34px;
    &__button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
      text-align: center;
      box-shadow: 0 2px 0 0.5px #EFEFEF;
      cursor: pointer;
      font-size: 24px;
      line-height: 40px;
    }
  }
  .user-form {
    width: 600px;
    margin: 0 auto;
    padding-right: 24px;
    padding-left: 24px;
    background-color: white;
    .field-avatar {
      display: flex;
      align-items: center;
    }
    .avatar-image {
      width: 75px;
      height: 75px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 15px;
    }
  }
}
.wide {
  width: 100%;
}
.button {
  @include textBtn();
  &--gray {
    @include textBtn();
    color: $font-color-dark;
    background-color: $mono-color-light;
    &:hover {
      background-color: $mono-color-middle;
    }
  }
  &--red {
    @include textBtn();
    background-color: $accent-color;
    color: $font-color-white;
  }
}
.right {
  float: right;
}
.left {
  float: left;
}
.align-center {
  margin: 0 auto;
}
.toggleOn {
  background-color: $mono-color-dark;
}
.textCut180 {
  @include textCut(180px);
}

.spinner {
  display: none;
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
