body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #999999;
}

.container {
  flex: 1;
  background-color: white;
  overflow-y: scroll;
  padding: 14px;
  .hidden {
    display: none;
  }
  .shown {
    display: block;
  }
  .pins {
    margin: 0 auto;
    background-color: white;
    &__item {
      width: 256px;
      margin: 4px 2px;
      background-color: white;
      word-break: break-word;
      border-radius: 6px;
      &__wrapper {
        width: 236px;
        margin: 10px 10px 0;
        position: relative;
        .item-bg {
          width: 100%;
          height: 236px;
          background-color: $mono-color-light;
          border-radius: 8px;
          margin-bottom: 8px;
          display: flex;
          align-items: center;
          .fa-plus-circle {
            color: $accent-color;
            margin: 0 auto;
          }
        }
        .item-link {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          &:hover {
            cursor: zoom-in;
          }
          &:link, &:visited, &:hover, &:active {
            color: black;
            text-decoration: none;
          }
        }
        .item-img {
          width: 236px;
          border-radius: 8px;
          margin-bottom: 8px;
        }
        .item-info {
          margin: 0 8px 6px;
          &__title {
            width: 180px;
            font-size: 14px;
            font-weight: bold;
            float: left;
          }
          &__pin {
            float: right;
            font-size: 8.6px;
          }
        }
        .item-description {
          font-size: 12px;
          margin: 0 8px 6px;
          clear: both;
        }
      }
      &__user {
        height: 28px;
        margin: 0 8px 6px;
        border-radius: 4px;
        position: relative;
        padding: 6px 8px;
        .item-user--link {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          &:hover {
            cursor: pointer;
          }
          &:link, &:visited, &:hover, &:active {
            color: black;
            text-decoration: none;
          }
        }
        .item-user--left {
          float: left;
          margin-right: 8px;
          .user-avatar {
            width: 28px;
            height: 28px;
            border-radius: 50%;
          }
        }
        .item-user--right {
          width: 186px;
          font-size: 8.6px;
          line-height: 14px;
          .user-name {
            font-weight: bold;
          }
          .user-board {
          }
        }
      }
    }
  }

  .boards {
    margin: 0 auto;
    background-color: white;
    &__item {
      width: 325px;
      margin: 4px 2px;
      background-color: white;
      word-break: break-word;
      border-radius: 6px;
      &:hover {
        cursor: pointer;
      }
      &__wrapper {
        width: 305px;
        margin: 10px 10px 0;
        position: relative;
        .item-object {
          background-color: $mono-color-light;
          border-radius: 8px;
          margin-bottom: 8px;
          .item-link {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            // &:hover {
            //   cursor: zoom-in;
            // }
            &:link, &:visited, &:hover, &:active {
              color: black;
              text-decoration: none;
            }
          }
          .item-img {
            display: block;
            width: 305px;
            height: 200px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            // text-align: center;
            // border-top: 1px solid $mono-color-light;
            // &:hover {
            //   background-color: $mono-color-light;
            //   border-radius: 0 0 8px;
            // }
            // line-height: 64px;
            .fa-plus-circle {
              color: $accent-color;
              margin: 0 auto;
            }
          }
        }
        .item-info {
          margin: 0 0 6px 8px;
          display: flex;
          &--left {
            flex: 1;
            .item-title {
              font-size: 14px;
              font-weight: bold;
              line-height: 21px;
            }
            .item-pin {
              font-size: 8.6px;
              line-height: 15px;
            }
          }
          &--right {
            .item-edit {
              @include textBtn();
              background-color: $mono-color-light;
              z-index: 2;
              font-weight: normal;
              font-size: 12px;
              &:hover {
                background-color: $mono-color-middle;
              }
            }
          }
          &__text {
            font-size: 18px;
            line-height: 36px;
          }
        }
      }
    }
  }
  .post {
    width: 64px;
    position: fixed;
    right: 14px;
    bottom: 34px;
    &__button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
      text-align: center;
      box-shadow: 0 2px 0 0.5px #EFEFEF;
      cursor: pointer;
      font-size: 24px;
      line-height: 40px;
    }
  }
  .user-form {
    width: 600px;
    margin: 0 auto;
    padding-right: 24px;
    padding-left: 24px;
    background-color: white;
    .field-avatar {
      display: flex;
      align-items: center;
    }
    .avatar-image {
      width: 75px;
      height: 75px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 15px;
    }
    .file-button {
      @include textBtn();
      &:hover {
        background-color: $mono-color-middle
      }
    }
    .actions {
      .btn {
        @include textBtn();
        display: block;
        width: 100px;
        background-color: $accent-color;
        color: white;
        border: none;
        float: right;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
