.modal {
  display: none;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index: 5;
  &__bg {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
  }
  #upload2{
    display: none;
  }
  &__window {
    width: 600px;
    border-radius: 8px;
    background-color: white;
    margin: auto;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    display: flex;
    .modal-image{
      margin-bottom: 30px;
    }
    .preview {
      margin: auto;
      display: block;
      width: 216px;
      height: auto;
      border-radius: 8px;
    }
    &--left {
      // flex: 1;
      width: 250px;
      border-right: 1px solid $mono-color-light;
      padding: 25px;
    }
    &--right {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    &__header {
      height: 32px;
      padding: 25px 25px 15px;
      display: flex;
      border-bottom: 1px solid $mono-color-light;
      .modal-title {
        flex: 1;
        font-size: 20px;
      }
      .button {
        width: 18px;
        text-align: center;
        cursor: pointer;
      }
    }
    &__container {
      flex: 1;
      overflow: auto;
      // width: 552px;
      // margin: 0 auto;
      // padding: 15px 24px;
      background-color: white;
      .align-center {
        margin: 0 auto;
      }
      .message {
        font-size: 30px;
        text-align: center;
        line-height: 60px;
      }
      .content {
        padding: 15px 25px;
        border-bottom: 1px solid $mono-color-light;
      }
      .content2 {
        max-height: 500px;
        // margin: 15px 0 25px;
        .board-item {
          display: flex;
          align-items: center;
          height: 42px;
          padding: 10px;
          border-bottom: 1px solid $mono-color-light;
          cursor: pointer;
          &:hover {
            background-color: $mono-color-light;
          }
          .board-image {
            width: 24px;
          }
          .board-title {
            flex: 1;
          }
          .board-button {
            @include textBtn();
            background-color: $accent-color;
            color: white;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .file-button {
          @include textBtn();
          background-color: $accent-color;
          max-width: 250px;
          max-height: 450px;
          color: white;
          margin: 20px auto;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    &__footer {
      padding: 10px;
      // font-size: 16px;
      // font-weight: bold;
      // align-items: center;
      // padding: 25px 25px;
      // border-top: 1px solid $mono-color-light;
      .fa-plus-circle {
        color: $accent-color;
        margin-left: 23px;
        margin-right: 12px;
      }
      .submit-button {
        @include textBtn();
        display: block;
        // width: 100px;
        background-color: $accent-color;
        color: white;
        border: none;
        // float: right;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
