.tag-header {
  max-width: 800px;
  margin: 0 auto;
  &__info {
    margin: 0 28px 18px;
    height: 60px;
    .title-text {
      font-size: 31px;
      line-height: 42px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}
.tag-cloud {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  &__item {
    font-weight: bold;
    margin: 5px 10px;
  }
  .cloud-level {
    &-0 {
      font-size: 14px;
    }
    &-1 {
      font-size: 24px;
    }
    &-2 {
      font-size: 34px;
    }
    &-3 {
      font-size: 44px;
    }
    &-4 {
      font-size: 54px;
    }
  }
}
